@using FibonacciNumberGenerator.Models
@model Result

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<p>Your number in the Fibonacci Sequence is @Model.GetFibonacciSequence() </p>
